<ion-side-menus>

    <ion-pane ion-side-menu-content drag-content="true">

        <ion-nav-bar class="bar-positive nav-title-slide-ios">
            <ion-nav-back-button class="button-clear nav-back-button">
                <i class="ion-ios-arrow-back"></i> Back
            </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="root-view" animation="slide-left-right"></ion-nav-view>

    </ion-pane>

    <ion-side-menu side="left"
        expose-aside-when="{{controller.UIHelper.sideMenuMediaQuery}}">

        <ion-content scroll="true" class="root">

            <ion-list>

                <ion-item class="item-divider">{{viewModel.applicationName}}</ion-item>

                <ion-item class="item-icon-left menu-close"
                    ui-sref="app.magazine-list">
                    <i class="icon ion-ios-paper-outline"></i>
                    Issues
                </ion-item>

                <ion-item class="item-divider">Preferences</ion-item>

                <ion-item ng-click="controller.deleteAllIssues_click()">

                    Storage Used: {{viewModel.totalSpaceUsedDisplay}}

                    <ion-spinner ng-if="!viewModel.totalSpaceUsedDisplay"
                        style="display: inline-block">
                    </ion-spinner>

                    <p ng-if="!viewModel.totalSpaceUsedDisplay">
                        (Calculating...)
                    </p>

                    <p ng-if="viewModel.totalSpaceUsedDisplay">
                        (Tap to delete all issues)
                    </p>

                </ion-item>

                <label class="item item-toggle item-text-wrap">
                    Allow downloads only on Wi-Fi
                    <label class="toggle toggle-positive">
                        <input type="checkbox"
                            ng-model="viewModel.downloadOnlyOnWiFi"
                            ng-change="controller.downloadOnlyOnWiFi_change()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <ion-item class="item-icon-left menu-close"
                    ui-sref="app.developer"
                    ng-show="viewModel.isDebugMode || viewModel.isDeveloperMode">
                    <i class="icon ion-code-working"></i>
                    Developer Tools
                </ion-item>

                <ion-item class="item-icon-left menu-close"
                    ui-sref="app.about">
                    <i class="icon ion-ios-information-outline"></i>
                    About
                </ion-item>

            </ion-list>

        </ion-content>
    </ion-side-menu>

</ion-side-menus>
