
.issue-content-list {

    .cover-image {
        text-align: center;

        img {
            max-width: 100%;
            max-height: 300px;
        }
    }

    .item-divider {
        font-weight: bold;
    }

    .item {
        h2 {
            font-weight: bold;
        }
    }
}
