
.magazine-list {

    .item {
        h2 {
            span {
                color: $theweek-red;
                font-weight: bold;
            }
        }
    }

    .issue-thumbnail,
    .item-thumbnail-left > img:first-child {
        width: auto;
        height: auto;
        max-width: 85px;
        max-height: 150px;
    }

    .progress-column {
        padding-top: 14px;

        .progress-bar-outer {
            border: 1px solid $theweek-red;
            display: block;
            height: 11px;
            position: relative;

            .progress-bar-inner {
                background-color: $theweek-red;
                display: inline-block;
                height: 10px;
                position: absolute;
            }
        }
    }
}
